@font-face {
    font-family: 'Digital';
    src: url('fonts/digital.woff2') format('woff2'),
         url('fonts/digital.woff') format('woff');
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 3rem;
    background-color: #F7B32B;
    font-size: 2rem;
    font-family: "Digital", "Courier New", monospace;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5rem solid black;
    border-radius: 2rem;
    background-color: grey;
    width: 33rem;
    height: 49rem;
}

.displaySection {
    height: 6rem;
    width: calc(100% - 1.5rem);
    padding: 0rem 1rem 1rem 0rem;
    margin: 1rem 0rem 0.5rem 0rem;
    background-color: #8DAA91;
    border-radius: 1.5rem;
    font-size: 6rem;
    padding: 0;
}

.displaySection p.output {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 5rem;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-right: 0.5rem;
}

.keypadSection, 
.digitSection,
.operatorSection,
.equals {
    display: flex;
}

.digitSection {
    flex-wrap: wrap-reverse;
}

.operatorSection {
    flex-direction: column;
}

button {
    color: black;
    width: 7rem;
    height: 7rem;
    margin: 0.5rem;
    font-size: 2rem;
    border-radius: 1.5rem;
}

button.operator {
    background-color: #DD6031;
    font-size: 2.5rem;
}

button.clear {
    background-color: #C3423F;
}

button.equals {
    align-items: center;
    justify-content: center;
    width: 31rem;
    background-color: #FF7733;
}

@media screen and (max-width: 800px) {

    main {
        width: 25rem;
        height: 40rem;
        justify-content: center;
    }

    button {
        width: 5rem;
        height: 5rem;
    }

    button.equals {
        width: 23.5rem;
    }

    .digitSection {
        justify-content: space-evenly;
    }

    .displaySection p.output {
        font-size: 3.5rem;
    }
}